# ---- Python ----
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv/
venv/
env/
build/
dist/
*.egg-info/
*.egg
.DS_Store

# Virtual environment
.env/
.venv/

# Logs
*.log

# ---- Node.js ----
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnpm-debug.log

# Environment files
.env
.env.local
.env.*.local

# ---- Common IDEs ----
.vscode/
.idea/
*.swp

# ---- OS-specific ----
Thumbs.db
.DS_Store